<div class="page-header">
  <h1>Family Tree <small>Árvore genealógica da comunidade brasileira de Juízes de Magic (<%=@judge_count%></span> Juízes)</small></h1>
</div>

<div id="tree"></div>
<%= render_chart(@chart, 'tree') %>